<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--<header th:fragment="headerLayout" id="mainHeader" class="mainHeader">-->
<!--    <div id="headerWrapper">-->
<!--        <div class="util-menu">-->
<!--            &lt;!&ndash; 로고 (좌측) &ndash;&gt;-->
<!--            <a href="/main/mainForm.do" class="header-logo">-->
<!--                <i>🏢</i>-->
<!--                <span>Spatialt 인트라넷</span>-->
<!--            </a>-->

<!--            &lt;!&ndash; 사용자 정보 및 메뉴 (우측) &ndash;&gt;-->
<!--            <ul>-->
<!--                &lt;!&ndash; 세션에서 사용자 정보 조회 &ndash;&gt;-->
<!--                <li class="user" th:if="${session.LoginVO}">-->
<!--                    <a href="#">-->
<!--                        <span th:text="${session.LoginVO.userNm}">홍길동</span> 님-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="logout">-->
<!--                    <a th:href="@{/login/logout.do}">-->
<!--                        <span>로그아웃</span>-->
<!--                        <img src="/images/img/log-out.svg" alt="로그아웃"/>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="headerLayout" class="site-header">
    <div class="header-container">
        <a th:href="@{/}" class="logo">
            <img th:src="@{/images/logo.png}" alt="ST 스패셜티 Logo">
        </a>
        <nav class="user-nav">
            <a th:href="@{/mypage}">
                <i class="fas fa-user"></i>
                <span>마이페이지</span>
            </a>
            <a th:href="@{/logout}">
                <i class="fas fa-sign-out-alt"></i>
                <span>로그아웃</span>
            </a>
        </nav>
    </div>
</header>
</body>
</html>
