<!DOCTYPE html>
<html>
<th:block th:fragment="css">
  <link type="text/css" rel="stylesheet" href="/css/reset.css" >
  <link type="text/css" rel="stylesheet" href="/css/common.css" >
  <link type="text/css" rel="stylesheet" href="/css/components.css" >
  <link type="text/css" rel="stylesheet" href="/css/cmm/main.css" >
  <link type="text/css" rel="stylesheet" href="/css/cmm/header.css" >
  <link type="text/css" rel="stylesheet" href="/css/cmm/footer.css" >

  <link th:href="|@{/css/cmm/sweetalert2/sweetalert2.min.css}|" rel="stylesheet">
</th:block>
</html>