<!DOCTYPE html>
<html th:replace="~{cmm/layout/subLayout :: layout(~{::link}, null, ~{::login-content}, '로그인')}"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="link">
    <!-- 로그인 페이지 전용 CSS -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/cmm/login.css}">
</head>

<body th:fragment="login-content">
    <div class="login-container">
        <div class="login-box">
            <h2>로그인</h2>
            
            <!-- 에러 메시지 표시 -->
            <div th:if="${loginError}" class="error-message" th:text="${loginError}"></div>
            
            <form th:action="@{/login/actionLogin.do}" method="post">
                <div class="form-group">
                    <label for="userId">아이디</label>
                    <input type="text" id="userId" name="userId" required autofocus>
                </div>
                
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" required>
                </div>
                
                <button type="submit" class="login-btn">로그인</button>
            </form>
            
            <div class="login-footer">
                <p>Spatialt Common Framework</p>
            </div>
        </div>
    </div>
</body>
</html>

