<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>점심/커피 내역 등록</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<!--    <link rel="stylesheet" th:href="@{/css/lunch/register.css}">-->
</head>
<body>

<button id="menu-toggle" class="mobile-menu-toggle">
    <i class="fas fa-bars"></i>
</button>

<div id="overlay" class="mobile-overlay"></div>

<div th:replace="~{cmm/layout/mainLayout :: layout (~{::content})}">

    <div th:fragment="content">
        <h1 class="content-title">대시보드</h1>

        <div class="content-body">
            <p>대시보드페이지</p>

        </div>
    </div>
</div>


</body>
</html>