<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>장비 조회</title>
</head>
<body>

<h1>장비 목록</h1>

<div>
    <button>등록</button>
</div>


<div>
    <table>
        <thead>
        <tr>
            <th></th>
            <th>자산번호</th>
            <th>일련번호</th>
            <th>담당자</th>
            <th>상태</th>
            <th>수정/삭제</th>
            <th>이력조회</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="item, stat : ${equipment}">
            <td th:text="${stat.index + 1}"></td>
            <td th:text="${item.accessNumber}"></td>
            <td th:text="${item.serialNumber}"></td>
            <td th:text="${item.director}"></td>
            <td th:text="${item.status}"></td>
            <td>
                <span>수정</span>
                <span>삭제</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>