<!DOCTYPE html>
<html th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 콘텐츠별 title -->
    <title>SpatialtT 인트라넷</title>

    <!-- 공통 meta -->
    <link th:replace="~{cmm/meta :: metaLayout}">

    <!-- 공통 script -->
    <link th:replace="~{cmm/script :: script}">

    <!-- 공통 css -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/reset.css}" >
    <link type="text/css" rel="stylesheet" th:href="@{/css/common.css}" >
    <link type="text/css" rel="stylesheet" th:href="@{/css/components.css}" >
    <link type="text/css" rel="stylesheet" th:href="@{/css/main/dashboard.css}" >
    <link type="text/css" rel="stylesheet" th:href="@{/css/toc/toc.css}" >
    <link type="text/css" rel="stylesheet" th:href="@{/css/cmm/main.css}" >
    <link type="text/css" rel="stylesheet" th:href="@{/css/cmm/header.css}" >
    <link type="text/css" rel="stylesheet" th:href="@{/css/cmm/footer.css}" >

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/lunch/register.css}">
</head>
<body>
<!-- header -->
<div th:replace="~{cmm/header :: headerLayout}"></div>

<!-- TOC와 콘텐츠를 flex로 배치 -->
<div class="main-container">
        <!-- TOC 사이드바 -->
        <div th:replace="~{cmm/layout/tocLayout :: tocLayout}"></div>

    <!-- 본문 슬롯 -->
    <main class="content-area">
        <div class="content-inner" th:insert="${content}"></div>
            <!-- 여기 내용은 개별 페이지에서 덮어씌움 -->
    </main>
</div>

<!-- footer 조각 사용 -->
<div th:replace="~{cmm/footer :: footerLayout}"></div>

<!-- loading -->
<!--<div th:replace="~{cmm/loading :: loadingLayout}"></div>-->
</body>
</html>