<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="tocLayout">
<aside class="sidebar" id="sidebar">

    <button id="close-menu" class="mobile-close-btn">
        <i class="fas fa-times"></i>
    </button>

    <nav class="sidebar-nav">
        <div class="nav-group">
            <h3 class="nav-title">계정관리</h3>
            <ul class="nav-list">
                <li><a th:href="@{/account/manage}">계정관리</a></li>
            </ul>
        </div>
        <div class="nav-group">
            <h3 class="nav-title">출입관리</h3>
            <ul class="nav-list">
                <li><a th:href="@{/enter/manage}">출입관리</a></li>
            </ul>
        </div>
        <div class="nav-group">
            <h3 class="nav-title">장비관리</h3>
            <ul class="nav-list">
                <li><a th:href="@{/equipment/list.do}">장비관리</a></li>
            </ul>
        </div>
        <div class="nav-group">
            <h3 class="nav-title">정산관리</h3>
            <ul class="nav-list">
                <li>
                    <a th:href="@{/lunch/register.do}"
                       th:classappend="${#httpServletRequest.requestURI.endsWith('/lunch/register.do')} ? ' active'">
                        내역등록
                    </a>
                </li>
                <li>
                    <a th:href="@{/lunch/list.do}"
                       th:classappend="${#httpServletRequest.requestURI.endsWith('/lunch/list.do')} ? ' active'">
                        내역조회
                    </a>
                </li>
                <li>
                    <a th:href="@{/lunch/statistics.do}"
                       th:classappend="${#httpServletRequest.requestURI.endsWith('/lunch/statistics.do')} ? ' active'">
                        통계조회
                    </a>
                </li>
            </ul>
        </div>

    </nav>
</aside>
</div>
</body>
</html>
